local/.flows.json.backup
[
    {
        "id": "4ee784c2043f2046",
        "type": "tab",
        "label": "Counter",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb0c4ed1214fc726",
        "type": "tab",
        "label": "ON OFF",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "32370fea674c5310",
        "type": "tab",
        "label": "Table",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42cb1e78218e6487",
        "type": "tab",
        "label": "Context",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7546b976ca9bc699",
        "type": "tab",
        "label": "Dashboard Display",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9185bfbc708752e",
        "type": "tab",
        "label": "Dashboard Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "39cb8607cae72273",
        "type": "tab",
        "label": "Webcam",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "764aad342d8b8b28",
        "type": "tab",
        "label": "Telegram",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c9e88e1c9ecf3cb",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "47ead5ba5567c471",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "76d8db218ac7712c",
        "type": "ui-page",
        "name": "Display",
        "ui": "5c9e88e1c9ecf3cb",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "47ead5ba5567c471",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b1d03cecb38f22cd",
        "type": "ui-group",
        "name": "Display Group",
        "page": "76d8db218ac7712c",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d4dcbb53447b12ae",
        "type": "ui-page",
        "name": "Control",
        "ui": "5c9e88e1c9ecf3cb",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "47ead5ba5567c471",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "901bf39283e5217d",
        "type": "ui-group",
        "name": "Control Group",
        "page": "d4dcbb53447b12ae",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9211183b872969bf",
        "type": "telegram bot",
        "botname": "Prodsup",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "b9fe04f744bb4717",
        "type": "ui-page",
        "name": "Counter",
        "ui": "5c9e88e1c9ecf3cb",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "47ead5ba5567c471",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dc01328375ac29cd",
        "type": "ui-group",
        "name": "Counter Group 1",
        "page": "b9fe04f744bb4717",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "da240b34a571c118",
        "type": "ui-page",
        "name": "ON OFF",
        "ui": "5c9e88e1c9ecf3cb",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "47ead5ba5567c471",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8e9c3af4808a16d7",
        "type": "ui-group",
        "name": "ON OFF Group",
        "page": "da240b34a571c118",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dc89498d74b1e04e",
        "type": "ui-page",
        "name": "Table Select",
        "ui": "5c9e88e1c9ecf3cb",
        "path": "/page5",
        "icon": "home",
        "layout": "grid",
        "theme": "47ead5ba5567c471",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3d651811f9b93154",
        "type": "ui-group",
        "name": "Table Group",
        "page": "dc89498d74b1e04e",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8c9934495ffb4ec2",
        "type": "inject",
        "z": "4ee784c2043f2046",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "c4244e2f42852e26"
            ]
        ]
    },
    {
        "id": "c4244e2f42852e26",
        "type": "function",
        "z": "4ee784c2043f2046",
        "name": "Random Data",
        "func": "const rand = Math.random();\nmsg.payload = Math.round(rand * 100) / 100;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            [
                "01006a980f2c4523",
                "99b3762527d92ace"
            ]
        ]
    },
    {
        "id": "01006a980f2c4523",
        "type": "ui-gauge",
        "z": "4ee784c2043f2046",
        "name": "",
        "group": "dc01328375ac29cd",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "0.4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "0.7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "1",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 530,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "99b3762527d92ace",
        "type": "switch",
        "z": "4ee784c2043f2046",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0.5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "9989e189565f12f2"
            ]
        ]
    },
    {
        "id": "9989e189565f12f2",
        "type": "function",
        "z": "4ee784c2043f2046",
        "name": "Increment Counter",
        "func": "const curCounter = flow.get(\"counter\") ?? 0;\nflow.set(\"counter\", curCounter + 1);\nmsg.payload = curCounter + 1;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 200,
        "wires": [
            [
                "8a27577bc4003242"
            ]
        ]
    },
    {
        "id": "8a27577bc4003242",
        "type": "ui-text",
        "z": "4ee784c2043f2046",
        "group": "dc01328375ac29cd",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "counter",
        "valueType": "flow",
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "cc04242a577ee8e0",
        "type": "ui-button",
        "z": "4ee784c2043f2046",
        "group": "dc01328375ac29cd",
        "name": "",
        "label": "Reset",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "e630385619dc747a"
            ]
        ]
    },
    {
        "id": "e630385619dc747a",
        "type": "change",
        "z": "4ee784c2043f2046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "counter",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "8a27577bc4003242"
            ]
        ]
    },
    {
        "id": "99094dec7046d330",
        "type": "inject",
        "z": "4ee784c2043f2046",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "e4d0f1ccc080d18b"
            ]
        ]
    },
    {
        "id": "e4d0f1ccc080d18b",
        "type": "change",
        "z": "4ee784c2043f2046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "counter",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "8a27577bc4003242"
            ]
        ]
    },
    {
        "id": "fbfc286c4b18c231",
        "type": "complete",
        "z": "4ee784c2043f2046",
        "name": "",
        "scope": [
            "e4d0f1ccc080d18b",
            "9989e189565f12f2",
            "e630385619dc747a"
        ],
        "uncaught": false,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "0cfd446fca259492"
            ]
        ]
    },
    {
        "id": "0cfd446fca259492",
        "type": "ui-text",
        "z": "4ee784c2043f2046",
        "group": "dc01328375ac29cd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "counter",
        "valueType": "flow",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "716598d3cd214b71",
        "type": "inject",
        "z": "fb0c4ed1214fc726",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "8a55d3459b6014b6"
            ]
        ]
    },
    {
        "id": "8a55d3459b6014b6",
        "type": "function",
        "z": "fb0c4ed1214fc726",
        "name": "Random Data",
        "func": "const rand = Math.random();\nmsg.payload = Math.round(rand * 100) / 100;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "dbbe381c2df39c6f"
            ]
        ]
    },
    {
        "id": "2a2b0076d3f034ef",
        "type": "function",
        "z": "fb0c4ed1214fc726",
        "name": "Sensor Value Handler",
        "func": "const machine_status = flow.get(\"machine_status\") ?? \"OFF\";\nconst sensor_value = flow.get(\"sensor_value\") ?? 0;\n\nif (machine_status === \"ON\") {\n  msg.payload = sensor_value;  \n} else {\n  msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 440,
        "wires": [
            [
                "a9ef0f2da3dcc594"
            ]
        ]
    },
    {
        "id": "c19115e515e8a7ac",
        "type": "ui-gauge",
        "z": "fb0c4ed1214fc726",
        "name": "",
        "group": "8e9c3af4808a16d7",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "0.4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "0.7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "1",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 850,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "83cb38f6e9c5b21b",
        "type": "inject",
        "z": "fb0c4ed1214fc726",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "93bb748d1ee3ee87"
            ]
        ]
    },
    {
        "id": "93bb748d1ee3ee87",
        "type": "change",
        "z": "fb0c4ed1214fc726",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "machine_status",
                "pt": "flow",
                "to": "OFF",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "sensor_value",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "eedcfd6862a743e7",
        "type": "ui-text",
        "z": "fb0c4ed1214fc726",
        "group": "8e9c3af4808a16d7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "machine_status",
        "valueType": "flow",
        "x": 470,
        "y": 520,
        "wires": []
    },
    {
        "id": "c39e7802dbd9e3d8",
        "type": "ui-button-group",
        "z": "fb0c4ed1214fc726",
        "name": "",
        "group": "8e9c3af4808a16d7",
        "order": 1,
        "width": 6,
        "height": 1,
        "label": "Machine Control",
        "className": "",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "ON",
                "icon": "",
                "value": "ON",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "OFF",
                "icon": "",
                "value": "OFF",
                "valueType": "str",
                "color": "#999999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 500,
        "y": 600,
        "wires": [
            [
                "7b7e90e8980d47d0"
            ]
        ]
    },
    {
        "id": "7b7e90e8980d47d0",
        "type": "change",
        "z": "fb0c4ed1214fc726",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "machine_status",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "dbbe381c2df39c6f",
        "type": "change",
        "z": "fb0c4ed1214fc726",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensor_value",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b9443acc1958d945",
        "type": "complete",
        "z": "fb0c4ed1214fc726",
        "name": "",
        "scope": [
            "dbbe381c2df39c6f",
            "7b7e90e8980d47d0"
        ],
        "uncaught": false,
        "x": 290,
        "y": 440,
        "wires": [
            [
                "2a2b0076d3f034ef"
            ]
        ]
    },
    {
        "id": "da2fc12a0307c89d",
        "type": "complete",
        "z": "fb0c4ed1214fc726",
        "name": "",
        "scope": [
            "93bb748d1ee3ee87",
            "7b7e90e8980d47d0"
        ],
        "uncaught": false,
        "x": 290,
        "y": 520,
        "wires": [
            [
                "eedcfd6862a743e7"
            ]
        ]
    },
    {
        "id": "7df98406a98e621e",
        "type": "complete",
        "z": "fb0c4ed1214fc726",
        "name": "",
        "scope": [
            "83cb38f6e9c5b21b"
        ],
        "uncaught": false,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "c39e7802dbd9e3d8"
            ]
        ]
    },
    {
        "id": "a9ef0f2da3dcc594",
        "type": "rbe",
        "z": "fb0c4ed1214fc726",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 710,
        "y": 440,
        "wires": [
            [
                "c19115e515e8a7ac"
            ]
        ]
    },
    {
        "id": "58560ded853f3c95",
        "type": "comment",
        "z": "fb0c4ed1214fc726",
        "name": "Initialize Context",
        "info": "",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "e6837bd1e0175a89",
        "type": "comment",
        "z": "fb0c4ed1214fc726",
        "name": "Sensor Value",
        "info": "",
        "x": 290,
        "y": 240,
        "wires": []
    },
    {
        "id": "efe32c7a5a5a6f8c",
        "type": "comment",
        "z": "fb0c4ed1214fc726",
        "name": "Display and Control",
        "info": "",
        "x": 310,
        "y": 380,
        "wires": []
    },
    {
        "id": "bd39c47bf01705a7",
        "type": "function",
        "z": "32370fea674c5310",
        "name": "Mock Data",
        "func": "const data = [\n  {\"id\": 1, \"name\": \"Sensor A\", \"status\": \"Active\", \"value\": 23.5},\n  {\"id\": 2, \"name\": \"Sensor B\", \"status\": \"Inactive\", \"value\": 18.2},\n  {\"id\": 3, \"name\": \"Sensor C\", \"status\": \"Active\", \"value\": 27.1},\n  {\"id\": 4, \"name\": \"Sensor D\", \"status\": \"Active\", \"value\": 19.8},\n  {\"id\": 5, \"name\": \"Sensor E\", \"status\": \"Inactive\", \"value\": 22.3}\n]\n\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "0d0187272fdc6817"
            ]
        ]
    },
    {
        "id": "88a28a4b0eb5dbca",
        "type": "inject",
        "z": "32370fea674c5310",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "bd39c47bf01705a7"
            ]
        ]
    },
    {
        "id": "0d0187272fdc6817",
        "type": "ui-table",
        "z": "32370fea674c5310",
        "group": "3d651811f9b93154",
        "name": "",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "click",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "6af1cffd176350f6"
            ]
        ]
    },
    {
        "id": "6af1cffd176350f6",
        "type": "change",
        "z": "32370fea674c5310",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "current_sensor",
                "pt": "flow",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7e48b6cea0a47e79",
        "type": "ui-text",
        "z": "32370fea674c5310",
        "group": "3d651811f9b93154",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Selected Sensor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "current_sensor",
        "valueType": "flow",
        "x": 360,
        "y": 300,
        "wires": []
    },
    {
        "id": "7601be39dad5d0e2",
        "type": "complete",
        "z": "32370fea674c5310",
        "name": "",
        "scope": [
            "6af1cffd176350f6",
            "37291503f616e36b"
        ],
        "uncaught": false,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "7e48b6cea0a47e79"
            ]
        ]
    },
    {
        "id": "24416704ce2665c3",
        "type": "inject",
        "z": "32370fea674c5310",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "37291503f616e36b"
            ]
        ]
    },
    {
        "id": "37291503f616e36b",
        "type": "change",
        "z": "32370fea674c5310",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "current_sensor",
                "pt": "flow",
                "to": "NONE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "319fa7a0168fc913",
        "type": "inject",
        "z": "42cb1e78218e6487",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "a13080c3335bb017"
            ]
        ]
    },
    {
        "id": "a13080c3335bb017",
        "type": "function",
        "z": "42cb1e78218e6487",
        "name": "Random Data",
        "func": "msg.payload = Math.random();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [
            [
                "6d586997908b5966"
            ]
        ]
    },
    {
        "id": "6d586997908b5966",
        "type": "change",
        "z": "42cb1e78218e6487",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c2cedf1259179ede",
        "type": "inject",
        "z": "42cb1e78218e6487",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "value",
        "payloadType": "flow",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "8863e1d0c6e3121e"
            ]
        ]
    },
    {
        "id": "8863e1d0c6e3121e",
        "type": "ui-text",
        "z": "42cb1e78218e6487",
        "group": "901bf39283e5217d",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 410,
        "y": 440,
        "wires": []
    },
    {
        "id": "864e391293e62595",
        "type": "ui-text",
        "z": "42cb1e78218e6487",
        "group": "901bf39283e5217d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "value",
        "valueType": "flow",
        "x": 410,
        "y": 580,
        "wires": []
    },
    {
        "id": "78d7239d9fbb867a",
        "type": "inject",
        "z": "42cb1e78218e6487",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "864e391293e62595"
            ]
        ]
    },
    {
        "id": "0a647e7eae3552b9",
        "type": "inject",
        "z": "42cb1e78218e6487",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1120,
        "wires": [
            [
                "bb2ace15ffdab65a"
            ]
        ]
    },
    {
        "id": "bb2ace15ffdab65a",
        "type": "change",
        "z": "42cb1e78218e6487",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "414e5f03b71aef5f",
        "type": "function",
        "z": "42cb1e78218e6487",
        "name": "Set Value",
        "func": "flow.set(\"value\", msg.payload);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "a7e9a79d0d03f55a",
        "type": "inject",
        "z": "42cb1e78218e6487",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "02c24d7a4ec20555"
            ]
        ]
    },
    {
        "id": "02c24d7a4ec20555",
        "type": "function",
        "z": "42cb1e78218e6487",
        "name": "Random Data",
        "func": "msg.payload = Math.random();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 820,
        "wires": [
            [
                "414e5f03b71aef5f"
            ]
        ]
    },
    {
        "id": "5c8a4f64e2d7d390",
        "type": "inject",
        "z": "42cb1e78218e6487",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 940,
        "wires": [
            [
                "233c8abf1e07b2f0"
            ]
        ]
    },
    {
        "id": "233c8abf1e07b2f0",
        "type": "function",
        "z": "42cb1e78218e6487",
        "name": "Get Context",
        "func": "const value = flow.get(\"value\") ?? 0;\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 940,
        "wires": [
            [
                "59b7a02b8f7e989c"
            ]
        ]
    },
    {
        "id": "59b7a02b8f7e989c",
        "type": "debug",
        "z": "42cb1e78218e6487",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 940,
        "wires": []
    },
    {
        "id": "249fa7f6fd499a6d",
        "type": "comment",
        "z": "42cb1e78218e6487",
        "name": "Inject Context Data",
        "info": "",
        "x": 210,
        "y": 380,
        "wires": []
    },
    {
        "id": "8c36ab3d910f0952",
        "type": "comment",
        "z": "42cb1e78218e6487",
        "name": "Update Context Data",
        "info": "",
        "x": 220,
        "y": 520,
        "wires": []
    },
    {
        "id": "2def31a156b8255e",
        "type": "inject",
        "z": "7546b976ca9bc699",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "5e6f69fd0dc1a9c7"
            ]
        ]
    },
    {
        "id": "5e6f69fd0dc1a9c7",
        "type": "function",
        "z": "7546b976ca9bc699",
        "name": "Generate Sine",
        "func": "const period = 10; // Period in seconds\nconst timestamp = new Date().getTime();\nconst tSeconds = timestamp / 1000;\nconst omega = (2 * Math.PI) / period;  // angular frequency\nconst value = (Math.sin(tSeconds * omega) + 1) / 2;\nmsg.payload = Math.round(value * 100) / 100;   // 2 decimal places\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "32549d2051a46f3c",
                "c35e7e3cd59438af",
                "e45e89eb8f5cf929",
                "10dc6062e6de1db6"
            ]
        ]
    },
    {
        "id": "32549d2051a46f3c",
        "type": "ui-chart",
        "z": "7546b976ca9bc699",
        "group": "b1d03cecb38f22cd",
        "name": "",
        "label": "chart",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c35e7e3cd59438af",
        "type": "ui-gauge",
        "z": "7546b976ca9bc699",
        "name": "",
        "group": "b1d03cecb38f22cd",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "10",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 550,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e45e89eb8f5cf929",
        "type": "ui-text",
        "z": "7546b976ca9bc699",
        "group": "b1d03cecb38f22cd",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "d48624553056e7cf",
        "type": "inject",
        "z": "7546b976ca9bc699",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 350,
        "y": 60,
        "wires": [
            [
                "32549d2051a46f3c"
            ]
        ]
    },
    {
        "id": "976bd9b2e8b6411c",
        "type": "ui-table",
        "z": "7546b976ca9bc699",
        "group": "b1d03cecb38f22cd",
        "name": "",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 570,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "10dc6062e6de1db6",
        "type": "function",
        "z": "7546b976ca9bc699",
        "name": "Generate Tabular Data",
        "func": "const rows = [];\n\nfor (let i = 1; i <= 5; i++) {\n    rows.push({\n        ID: i,\n        Name: \"Item \" + i,\n        Value: msg.payload,    \n    });\n}\n\nmsg.payload = rows;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "976bd9b2e8b6411c"
            ]
        ]
    },
    {
        "id": "59112ba95a7d48d2",
        "type": "ui-button",
        "z": "a9185bfbc708752e",
        "group": "901bf39283e5217d",
        "name": "",
        "label": "Send Text",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "Click!",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "f68a64a4c514ce5a"
            ]
        ]
    },
    {
        "id": "22a728bbc30f7750",
        "type": "ui-text",
        "z": "a9185bfbc708752e",
        "group": "901bf39283e5217d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "f68a64a4c514ce5a",
        "type": "function",
        "z": "a9185bfbc708752e",
        "name": "Random",
        "func": "msg.payload = Math.random();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "22a728bbc30f7750"
            ]
        ]
    },
    {
        "id": "23f329fe470bf024",
        "type": "ui-text-input",
        "z": "a9185bfbc708752e",
        "group": "901bf39283e5217d",
        "name": "",
        "label": "text",
        "order": 4,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "22a728bbc30f7750"
            ]
        ]
    },
    {
        "id": "36569f569ecd9ae1",
        "type": "ui-slider",
        "z": "a9185bfbc708752e",
        "group": "901bf39283e5217d",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "22a728bbc30f7750"
            ]
        ]
    },
    {
        "id": "0bc9114991fa81bc",
        "type": "ui-switch",
        "z": "a9185bfbc708752e",
        "name": "",
        "label": "switch",
        "group": "901bf39283e5217d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "22a728bbc30f7750",
                "f23780fbba4d219c"
            ]
        ]
    },
    {
        "id": "f23780fbba4d219c",
        "type": "ui-notification",
        "z": "a9185bfbc708752e",
        "ui": "5c9e88e1c9ecf3cb",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 630,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "407bfcb9bf8f3cd0",
        "type": "ui-webcam",
        "z": "39cb8607cae72273",
        "d": true,
        "name": "",
        "group": "",
        "width": 0,
        "height": 0,
        "passthru": false,
        "qrDetection": false,
        "imageWidth": 640,
        "imageHeight": 480,
        "imageQuality": 0.8,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "a24d1527ca98c61b",
                "cfe72a03063dc3ab"
            ]
        ]
    },
    {
        "id": "a24d1527ca98c61b",
        "type": "debug",
        "z": "39cb8607cae72273",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "cfe72a03063dc3ab",
        "type": "image viewer",
        "z": "39cb8607cae72273",
        "name": "",
        "width": 160,
        "data": "payload.image",
        "dataType": "msg",
        "active": true,
        "x": 530,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "8f53c95a08276ddf",
        "type": "inject",
        "z": "39cb8607cae72273",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "capture",
        "payloadType": "str",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "407bfcb9bf8f3cd0"
            ]
        ]
    },
    {
        "id": "85b3efce7c30078e",
        "type": "inject",
        "z": "39cb8607cae72273",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "407bfcb9bf8f3cd0"
            ]
        ]
    },
    {
        "id": "ee81ced988497ee5",
        "type": "inject",
        "z": "39cb8607cae72273",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "407bfcb9bf8f3cd0"
            ]
        ]
    },
    {
        "id": "01732808f3b2c22e",
        "type": "telegram sender",
        "z": "764aad342d8b8b28",
        "d": true,
        "name": "",
        "bot": "9211183b872969bf",
        "haserroroutput": false,
        "outputs": 1,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "25f8da023a68daf6"
            ]
        ]
    },
    {
        "id": "c3d55c11ccc553b8",
        "type": "function",
        "z": "764aad342d8b8b28",
        "name": "Construct Message",
        "func": "const data = {\nchatId: 6094132297,\ncontent: msg.payload,\ntype: \"message\"\n}\nmsg.payload = data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 140,
        "wires": [
            [
                "01732808f3b2c22e"
            ]
        ]
    },
    {
        "id": "c2667bfe20d556f7",
        "type": "inject",
        "z": "764aad342d8b8b28",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "c3d55c11ccc553b8"
            ]
        ]
    },
    {
        "id": "25f8da023a68daf6",
        "type": "debug",
        "z": "764aad342d8b8b28",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 140,
        "wires": []
    },
    {
        "id": "a372ad40daaac5a8",
        "type": "telegram receiver",
        "z": "764aad342d8b8b28",
        "d": true,
        "name": "",
        "bot": "9211183b872969bf",
        "saveDataDir": "",
        "filterCommands": false,
        "hasinput": false,
        "inputs": 0,
        "handleallupdates": false,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "ba814f8abbccb494"
            ],
            []
        ]
    },
    {
        "id": "6fd326037b4a01d1",
        "type": "debug",
        "z": "764aad342d8b8b28",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "0cb7748109ec17cb",
        "type": "switch",
        "z": "764aad342d8b8b28",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "6fd326037b4a01d1"
            ],
            [
                "6fd326037b4a01d1"
            ]
        ]
    },
    {
        "id": "ba814f8abbccb494",
        "type": "function",
        "z": "764aad342d8b8b28",
        "name": "Extract Content",
        "func": "const content = msg.payload?.content ?? \"\";\nmsg.payload = content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "0cb7748109ec17cb"
            ]
        ]
    },
    {
        "id": "511998eaf0a4664a",
        "type": "inject",
        "z": "764aad342d8b8b28",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "fc78c961953e4217"
            ]
        ]
    },
    {
        "id": "fc78c961953e4217",
        "type": "function",
        "z": "764aad342d8b8b28",
        "name": "Construct Payload",
        "func": "// Input your info here\nconst TOKEN = \"7446515859:AAHLOYuiD3IWmVV6t_BiTZnIMew8uSEFO1o\";\nconst CHAT_ID = \"6094132297\";\n\n// Store incoming message\nconst value = msg.payload;\n\n// Construct \"JSON\"\nmsg.payload = {\n  chat_id: CHAT_ID,\n  text: value,\n  type: \"message\"\n};\nmsg.url = `https://api.telegram.org/bot${TOKEN}/sendMessage`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 440,
        "wires": [
            [
                "706e9e1faef0c289"
            ]
        ]
    },
    {
        "id": "706e9e1faef0c289",
        "type": "http request",
        "z": "764aad342d8b8b28",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 440,
        "wires": [
            []
        ]
    }
]