local2/.flows.json.backup
[
    {
        "id": "0b5ebc39e8aaa79e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c9dfba622c8eaf7",
        "type": "telegram bot",
        "botname": "Prodsup 68",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "17c9d91241037ccf",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "a8515e1266907c48",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "43ae1f9cb356ac64",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "cf5cfcf2928a6d66",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "a8515e1266907c48",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "43ae1f9cb356ac64",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "789fb697b15bb117",
        "type": "ui-group",
        "name": "Group 1",
        "page": "cf5cfcf2928a6d66",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "1912c01745ae9037",
        "type": "inject",
        "z": "0b5ebc39e8aaa79e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5555",
        "payloadType": "num",
        "x": 130,
        "y": 3940,
        "wires": [
            [
                "c8cacf7dcbcd5297"
            ]
        ]
    },
    {
        "id": "c8cacf7dcbcd5297",
        "type": "function",
        "z": "0b5ebc39e8aaa79e",
        "name": "function 1",
        "func": "const CHAT_ID = 6094132297; // Your chat ID here\nconst data = {\n  chatId: CHAT_ID,\n  content: msg.payload,\n  type: \"message\",\n};\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 3940,
        "wires": [
            [
                "425a1609b21c71d3"
            ]
        ]
    },
    {
        "id": "425a1609b21c71d3",
        "type": "telegram sender",
        "z": "0b5ebc39e8aaa79e",
        "d": true,
        "name": "",
        "bot": "8c9dfba622c8eaf7",
        "haserroroutput": false,
        "outputs": 1,
        "x": 570,
        "y": 3940,
        "wires": [
            [
                "2b2d78268ef0fa95"
            ]
        ]
    },
    {
        "id": "2b2d78268ef0fa95",
        "type": "debug",
        "z": "0b5ebc39e8aaa79e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 3940,
        "wires": []
    },
    {
        "id": "557e5c3033dd6489",
        "type": "telegram receiver",
        "z": "0b5ebc39e8aaa79e",
        "d": true,
        "name": "",
        "bot": "8c9dfba622c8eaf7",
        "saveDataDir": "",
        "filterCommands": false,
        "hasinput": false,
        "inputs": 0,
        "handleallupdates": false,
        "x": 130,
        "y": 4060,
        "wires": [
            [
                "fb81b713b5c9bc9c"
            ],
            []
        ]
    },
    {
        "id": "64c229fcc75f6baf",
        "type": "debug",
        "z": "0b5ebc39e8aaa79e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 4060,
        "wires": []
    },
    {
        "id": "fb81b713b5c9bc9c",
        "type": "function",
        "z": "0b5ebc39e8aaa79e",
        "name": "function 2",
        "func": "const content = msg.payload?.content ?? \"\";\nmsg.payload = content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 4060,
        "wires": [
            [
                "73c7384895119276"
            ]
        ]
    },
    {
        "id": "73c7384895119276",
        "type": "switch",
        "z": "0b5ebc39e8aaa79e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 4060,
        "wires": [
            [
                "64c229fcc75f6baf"
            ],
            [
                "64c229fcc75f6baf"
            ]
        ]
    },
    {
        "id": "484d0aa25a514eee",
        "type": "inject",
        "z": "0b5ebc39e8aaa79e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 4160,
        "wires": [
            [
                "a7f6820f12bec332"
            ]
        ]
    },
    {
        "id": "a7f6820f12bec332",
        "type": "function",
        "z": "0b5ebc39e8aaa79e",
        "name": "function 3",
        "func": "// Input your info here\nconst TOKEN = \"8409303599:AAGzMkClW8CUqBFxyfepG1koYAmB6h0LR1k\";\nconst CHAT_ID = \"6094132297\";\n\n// Store incoming message\nconst value = msg.payload;\n\n// Construct \"JSON\"\nmsg.payload = {\n  chat_id: CHAT_ID,\n  text: value,\n  type: \"message\",\n};\nmsg.url = `https://api.telegram.org/bot${TOKEN}/sendMessage`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 4160,
        "wires": [
            [
                "d9686500177c8a75"
            ]
        ]
    },
    {
        "id": "d9686500177c8a75",
        "type": "http request",
        "z": "0b5ebc39e8aaa79e",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 4200,
        "wires": [
            [
                "7e25cb23b50bf56f"
            ]
        ]
    },
    {
        "id": "7e25cb23b50bf56f",
        "type": "debug",
        "z": "0b5ebc39e8aaa79e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 4160,
        "wires": []
    },
    {
        "id": "f0da948fc4d82f75",
        "type": "influxdb out",
        "z": "0b5ebc39e8aaa79e",
        "influxdb": "17c9d91241037ccf",
        "name": "Counter DB",
        "measurement": "counter",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Dev Team",
        "bucket": "my_bucket",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "19f4dc42e6f0c450",
        "type": "inject",
        "z": "0b5ebc39e8aaa79e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "f8c98344a38b5dfd"
            ]
        ]
    },
    {
        "id": "f8c98344a38b5dfd",
        "type": "function",
        "z": "0b5ebc39e8aaa79e",
        "name": "Construct Payload",
        "func": "const field = {\n        counter: msg.payload,\n}\nconst tag = {\n        tag_1: \"TAG_1\",\n        tag_2: \"TAG_2\"\n}\nmsg.payload = [field, tag];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "f0da948fc4d82f75"
            ]
        ]
    },
    {
        "id": "a0a8b58782dce853",
        "type": "influxdb in",
        "z": "0b5ebc39e8aaa79e",
        "influxdb": "17c9d91241037ccf",
        "name": "Counter DB",
        "query": "from(bucket: \"my_bucket\")\n    |> range(start: -2h)\n    |> filter(fn: (r) => r._measurement == \"counter\")\n    |> group()                      // remove grouping so you get a single table\n    |> sort(columns: [\"_time\"], desc: true)\n    |> limit(n: 5)",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "Dev Team",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "117ae1d6967b22aa",
                "11974db2d0c040a4"
            ]
        ]
    },
    {
        "id": "b19b2b7d1f31341b",
        "type": "inject",
        "z": "0b5ebc39e8aaa79e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 300,
        "wires": [
            [
                "a0a8b58782dce853"
            ]
        ]
    },
    {
        "id": "117ae1d6967b22aa",
        "type": "function",
        "z": "0b5ebc39e8aaa79e",
        "name": "Extract Data",
        "func": "const _payload = msg.payload;\n\nmsg.payload = _payload.map((d) => {\n    const _dt = new Date(d[\"_time\"]);\n    const dt = _dt.toLocaleString(); // e.g. \"11/30/2025, 9:37:46 AM\"\n    return {\n        \"Date/Time\": dt,\n        \"Tag_1\": d[\"tag_1\"],\n        \"Tag_2\": d[\"tag_2\"],\n        \"Count\": d[\"_value\"],\n    }\n})\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 300,
        "wires": [
            [
                "1ee281b250d10ee0"
            ]
        ]
    },
    {
        "id": "11974db2d0c040a4",
        "type": "debug",
        "z": "0b5ebc39e8aaa79e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 380,
        "wires": []
    },
    {
        "id": "1ee281b250d10ee0",
        "type": "ui-table",
        "z": "0b5ebc39e8aaa79e",
        "group": "789fb697b15bb117",
        "name": "",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 870,
        "y": 300,
        "wires": [
            []
        ]
    }
]