local2/flows.json
[
    {
        "id": "928e8df5cd17bf46",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "28f0edc04a87b680",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "752c7d41fed1d2a7",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "d2b0ce72cfbb438c",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "28f0edc04a87b680",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "752c7d41fed1d2a7",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1cfb7fc944aeccea",
        "type": "ui-group",
        "name": "Group 1",
        "page": "d2b0ce72cfbb438c",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "411c4e7c76cc5f22",
        "type": "inject",
        "z": "928e8df5cd17bf46",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "32134bcc508fdc65"
            ]
        ]
    },
    {
        "id": "32134bcc508fdc65",
        "type": "function",
        "z": "928e8df5cd17bf46",
        "d": true,
        "name": "function 1",
        "func": "msg.payload = Math.random();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "d0db4a36032f54d9",
                "2079037710e75a8a"
            ]
        ]
    },
    {
        "id": "d0db4a36032f54d9",
        "type": "change",
        "z": "928e8df5cd17bf46",
        "d": true,
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f98e9f43520bd198",
        "type": "ui-text",
        "z": "928e8df5cd17bf46",
        "group": "1cfb7fc944aeccea",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Payload",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "3684278c974151dd",
        "type": "inject",
        "z": "928e8df5cd17bf46",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "value",
        "payloadType": "flow",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "f98e9f43520bd198"
            ]
        ]
    },
    {
        "id": "e683346cc7f0ccfa",
        "type": "ui-text",
        "z": "928e8df5cd17bf46",
        "group": "1cfb7fc944aeccea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Context",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "value",
        "valueType": "flow",
        "x": 440,
        "y": 460,
        "wires": []
    },
    {
        "id": "82b8b998304ddefc",
        "type": "inject",
        "z": "928e8df5cd17bf46",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 460,
        "wires": [
            [
                "e683346cc7f0ccfa"
            ]
        ]
    },
    {
        "id": "2079037710e75a8a",
        "type": "function",
        "z": "928e8df5cd17bf46",
        "name": "function 2",
        "func": "flow.set(\"value\", msg.payload);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e75d6fe70c651e96",
        "type": "function",
        "z": "928e8df5cd17bf46",
        "name": "function 3",
        "func": "const value = flow.get(\"value\") ?? 0;\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 380,
        "wires": [
            [
                "f98e9f43520bd198"
            ]
        ]
    },
    {
        "id": "1abaa30441ac719c",
        "type": "inject",
        "z": "928e8df5cd17bf46",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "e75d6fe70c651e96"
            ]
        ]
    },
    {
        "id": "fc833cec008e129a",
        "type": "inject",
        "z": "928e8df5cd17bf46",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "07c64c5e5678fa09"
            ]
        ]
    },
    {
        "id": "07c64c5e5678fa09",
        "type": "change",
        "z": "928e8df5cd17bf46",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "value",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "machine_state",
                "pt": "flow",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 580,
        "wires": [
            []
        ]
    }
]